%%inherit(file="/_main.haml")
%%namespace(name='utils', file='/_utils.haml')
%%namespace(name='page_utils', file='./_utils.haml')

@breadcrumb
    %li =|h page.title if page else name

+page_utils.nav(name)

%form(method='POST')
    +utils.render_form(form, flags=False)
    %button.btn.btn-primary(type='submit') Save
