%%inherit(file="/_main.haml")
%%namespace(name='utils', file='/_utils.haml')
%%namespace(name='page_utils', file='./_utils.haml')

@breadcrumb
    %li
        &= page.title if page else name
        ##- if not page.is_public:
        ##    %span.glyphicon.glyphicon-eye-close

+page_utils.nav(name)

%h1 History of "${name}"


- if page and page.versions:
    %ul - for vi, version in reversed(list(enumerate(page.versions))):
        %li %a(href=url_for('page', name=name, version_id=version.id))
            v${vi + 1}
            at ${version.created_at.strftime('%Y-%m-%d %H:%M:%S')}
            by
            %em
                ${version.creator.display_name|h}
                %small (${version.creator.name|h})
            ${len(version.content)} bytes.

- else:
    %em This page has no content.
