%%inherit(file="/_main.haml")
%%namespace(name='utils', file='/_utils.haml')
%%namespace(name='page_utils', file='./_utils.haml')

@breadcrumb
    %li =|h page.title if page else name

+page_utils.nav(name)

%h1 History of "${name}"


- if page and page.versions:
    %ul - for version in reversed(page.versions):
        %li %a(href=url_for('page', name=name, version=version.id))
            ${version.created_at.strftime('%Y-%m-%d %H:%M:%S')}
            by
            %em
                ${version.creator.display_name|h}
                %small (${version.creator.name|h})
            ${len(version.content)} bytes.

- else:
    %em This page has no content.
