%%inherit(file="/_main.haml")
%%namespace(name='utils', file='/_utils.haml')
%%namespace(name='page_utils', file='./_utils.haml')

@breadcrumb
    %li Page Index

%h1
    Page Index

%ul
    - for page in pages:
        %li
            %a(href=url_for('page', name=page.name))= page.title
