%%inherit(file="/_main.haml")
%%namespace(name='utils', file='/_utils.haml')
%%namespace(name='page_utils', file='./_utils.haml')

@breadcrumb
    %li
        &= page.title if page else name
        ##- if page and not page.is_public:
        ##    %span.glyphicon.glyphicon-eye-close

+page_utils.nav(name, page)

- if version:
    
    - if version is not page.latest_version:
        %.alert.alert-warning
            %strong This page is out of date.
            %a(href=url_for('page', name=page.name)) See the most recent version.

    #page-content= markdown(version.content)

- else:
    %em This page has no content.
