%%inherit(file="/_main.haml")
%%namespace(name='utils', file='/_utils.haml')
%%namespace(name='page_utils', file='./_utils.haml')

@breadcrumb
    %li =|h page.title if page else name

+page_utils.nav(name)

- if version:
    
    - if version is not page.versions[-1]:
        %.alert.alert-warning This is not the most recent version.

    #page-content= markdown(version.content)

- else:
    %em This page has no content.