%%inherit(file="/_main.haml")
%%namespace(name='utils', file='/_utils.haml')
%%namespace(name='media_utils', file='./_utils.haml')

@breadcrumb
    %li
        &= media.title
        ##- if media and not media.is_public:
        ##    %span.glyphicon.glyphicon-eye-close

+media_utils.nav(media)

%form#media-form(method='POST', enctype='multipart/form-data', dataMediaType=media.type)
    +utils.render_form(form, flags=False)
    %button.btn.btn-primary(type='submit') Save
    