%%inherit(file="/_main.haml")
%%namespace(name='utils', file='/_utils.haml')
%%namespace(name='media_utils', file='./_utils.haml')

@breadcrumb
    %li
        &= media.title if media else name
        ##- if not media.is_public:
        ##    %span.glyphicon.glyphicon-eye-close

+media_utils.nav(name)

%h1 History of "${name}"


- if media and media.versions:
    - versions = list(reversed(media.versions))
    %ul - for i, version in enumerate(versions):
        %li
            %a(href=url_for('media', type_=media.type, name=name, v=version.id))
                %strong
                    ${version.created_at.strftime('%b %d, %Y at %H:%M %p')}
                by
                %em
                    ${version.creator.display_name|h}
                    %small (${version.creator.name|h})
            - if i < len(versions) - 1:
                ::
                %a(href=url_for('media', type_=media.type, name=name, action='diff', v1=versions[i + 1].id, v2=version.id))
                    Changes.

- else:
    %em This media has no content.
