%%inherit(file="/_main.haml")
%%namespace(name='utils', file='/_utils.haml')
%%namespace(name='page_utils', file='./_utils.haml')

@breadcrumb
    %li Index

%h1
    ${media_type.title()} Index

%ul#media-index
    - for media in media_objects:
        %li
            %a(href=url_for('media', type_=media.type, name=media.slug))
                - if media.type == 'image':
                    %img(src=media.build_url(mode='crop', width=50, height=50))
                &= media.title
            - if media.latest.acl and authz.can('auth', media):
                %br %small %code &= media.latest.acl
