%%inherit(file="/_main.haml")
%%namespace(name='utils', file='/_utils.haml')
%%namespace(name='page_utils', file='./_utils.haml')

@breadcrumb
    %li Index

%h1
    Index

%ul
    - for media in media_objects:
        %li
            %a(href=url_for('media', type_=media.type, name=media.slug)) &= media.title
            - if media.latest.acl:
                %br %small %code &= media.latest.acl
