%%inherit(file="/_main.haml")
%%namespace(name='utils', file='/_utils.haml')
%%namespace(name='media_utils', file='./_utils.haml')

<!-- DEBUG: ${repr(media)|h}
<!-- DEBUG AUTH: current_user.groups: ${', '.join(sorted(current_user.groups))|h} -->
<!-- DEBUG AUTH: current_user.roles: ${', '.join(sorted(current_user.roles))|h} -->
<!-- DEBUG AUTH: media.latest.acl: ${media.latest.acl if media.latest else ''|h} -->
<!-- DEBUG AUTH: version.acl: ${version.acl if version else ''|h} -->


@breadcrumb
    %li
        &= media.title
        ##- if media and not media.is_public:
        ##    %span.glyphicon.glyphicon-eye-close

+media_utils.nav(media)

- if version:
    
    - if version is not media.latest:
        %.alert.alert-warning
            %strong This ${type_str} is out of date.
            %a(href=url_for('media', type_=media.type, name=media.slug)) See the most recent version.

    - if media.type == 'page':
        #media-content= markdown(version.content)

    - elif media.type == 'image':
        
        %h1.image-title &= media.title
        %img.image-main(src=media.build_url())

        %h2.image-example-title Examples
        %ul.image-examples

            @example(desc, **kwargs)
                %li
                    - url = media.build_url(**kwargs)
                    ${desc|h}:
                    %code ![${media.title}](${url})
                    %br
                    %a(href=url) %img(title=media.title, src=url)

            +example('Smaller', width=400)
            +example('Thumbnail', width=120, height=100)
            +example('Square Thumbnail', mode='crop', width=100, height=100)
            
    - else:
        %em We don't know how to deal with ${media.type}.

- else:
    %em This ${media.type} has no content.
