%%inherit(file="/_base.haml")/

<h1>${status.code}!</h1>
<h2>${status.name|h}</h2>

- if status.code == 404:
    <p>The requested URL (${request.path|h}) was not found on the server.</p>
- elif status.description:
    ${status.description}

<p>
    <span class="cute">That is all I know.</span>
    ##<a href="mailto:webstatus@mikeboers.com?subject=${"%s on %s" % (status.code, request.environ.get('SERVER_NAME'))}">
    ##    Feel free to tell me more.
    ##</a>
</p>

- if traceback:
    %pre &= traceback
