%%inherit(file="/_base.haml")/
-
    _code = code or 500
    _title = title or 'Internal Server Error'


<h1>${_code}!</h1>
<h2>${_title|h}</h2>

- if _code == 404:
    <p>The requested URL (${request.path|h}) was not found on the server.</p>
- elif description:
    ${description}

<p>
    <span class="cute">That is all I know.</span>
    <a href="mailto:webstatus@mikeboers.com?subject=${"%s on %s" % (_code, request.environ.get('SERVER_NAME'))}">
        Feel free to tell me more.
    </a>
</p>

- if traceback:
    %pre &= traceback
