%%inherit(file="/_main.haml")
%%namespace(name='utils', file='/_utils.haml')


@controls
    - if not form: %ul.controls.list-unstyled.list-inline.pull-right
        %li %a.btn.btn-default.btn-xs(href=url_for('page', path=path, mode='edit')) Edit
        - if page:
            -# %li %a.btn.btn-default.btn-xs(href=url_for('page', path=path, mode='history')) History

+controls

%h1
    - if page:
        =|h page.title
    - else:
        =|h path.replace('_', ' ')


- if form:
    %form.form.panel-body(method='POST', role='form')
        +utils.render_form(form)

        %script

            var textarea = $('#content');
            var editdiv = $('<div>').css({minHeight: '200px'}).insertBefore(textarea);
            textarea.hide();

            var editor = ace.edit(editdiv[0]);
            editor.setTheme('ace/theme/textmate')
            editor.getSession().setValue(textarea.val())
            console.log(textarea.val())

            editor.getSession().setMode('ace/mode/markdown')
            editor.setOptions({
                maxLines: Infinity
            });

            var resize = function () {

                var newHeight =
                    editor.getSession().getScreenLength()
                    * editor.renderer.lineHeight
                    + editor.renderer.scrollBar.getWidth();

                editdiv.height(newHeight);
                editor.resize();

            }

            editor.on('change', resize);
            resize()

            textarea.closest('form').submit(function() {
                textarea.val(editor.getSession().getValue());
            })

        %button.btn.btn-primary(type='submit') Save

- elif page:
    
    = markdown(page.content)

    +controls


- else:

    %em This page has no content yet.


